tbody:hover {
  color:red;
  width: 300px
}
table {
  border:1px solid black;
  }
.prClass {
  font-size
  background-color
  border-bottom:
  border-right:
  margin:auto;
  padding:inherit;
  border-radius:
  opacity: 0.5
  box-shadow
  }

body{
  background-color:lightyellow
}
#special {
  color:gray;
  background-color:powderblue;
  width:inherit;
}

.poem {
  background-color:#ff6347;
  /*opacity: 0.5;*/
  color: white;
  padding: 5px;
  width: 100%;
}
p {
  border: 1px; solid brown;
}
.intro{
  font-size: 15px;
  color: darkred;
  background: lightgrey;
  }
pre {
  width: 50%;
}
